.hidden{
    display: none;
}

.block{
    display: block;
}

.inline{
    display: inline;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-col{
    flex-direction: column;
}

.grid{
    display: grid;
}

.grid-cols-4{
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.gap-2{
    gap: 0.5rem;
}

.gap-4{
    gap: 1rem;
}

