.font-inherit{
    font-family: inherit;
}

.font-serif{
    font-family: serif;
}

.font-12{
    font-size: 12px;
}

.font-18{
    font-size: 18px;
}

.font-24{
    font-size: 24px;
}

.font-bold{
    font-weight: bold;
}
