
.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.fixed{
    position: fixed;
}

.bottom-0{
    bottom: 0px;
}

.left-0{
    left: 0px;
}

.top-8{
    top: 2rem;
}

.top-12{
    top: 3rem;
}

.top-5{
    top: 1.25rem;
}

.left-24{
    left: 6rem;
}
